{% extends 'base.html' %}

{% block title %}الموافقة على الحجز{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center mb-4">الموافقة على الحجز رقم: {{ reservation.reservation_number }}</h1>
        <div class="card my-4">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">تأكيد الحجز</button>
                </form>
            </div>
        </div>
        <a href="{% url 'manage_reservations' %}" class="btn btn-secondary">العودة لإدارة الحجوزات</a>
    </div>
{% endblock %}
